POSTGRES_DB=freshmarket
POSTGRES_USER=freshmarket_user
POSTGRES_PASSWORD=Sofiane03
POSTGRES_PORT=5432

BACKEND_PORT=8089
FRONTEND_WEB_PORT=5173
VITE_API_BASE_URL=http://localhost:8089/api/v1
JWT_SECRET=freshmarket-local-development-secret-key-change-before-production
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@freshmarket.local
PGADMIN_DEFAULT_PASSWORD=admin
